body  {
        border: 12px solid rgb(109, 107, 107);
    background-color:rgb(76, 115, 187);
    margin: 20px;
    padding: 25px;
    
}

#greeting {
    font-size: 50px;

    }

h1 {
    font-size: 30px;
}
img {
    max-height: 400px;
    max-width: 400px;
    
}
footer + h4 {
font-style: italic;
}